<% include ./partials/header.ejs %>


<table class="table font-weight-bold ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>

      <%for(var i = 0; i < donars.length; i++){%>
        <%if(donars[i].paid){%>
          <tr class="bg-success">
            <th scope="row"><%=i+1%></th>
            <td> <%=donars[i].name%> </td>
            <td> <%=donars[i].amount%></td>
            <td> <a class="btn btn-warning btn-xs" href="/donars/<%=donars[i]._id%>/edit">
                  <i class="far fa-edit"></i>Update
                </a>
            </td>
          </tr>
          <%sum +=donars[i].amount %>
        <%}else{%>
          <tr class="bg-danger">
            <th scope="row"><%=i+1%></th>
            <td> <%=donars[i].name%> </td>
            <td> <%=donars[i].amount%></td>
            <td> <a class="btn btn-warning btn-xs" href="/donars/<%=donars[i]._id%>/edit">
                  <i class="far fa-edit"></i>Update
                </a>
            </td>
          </tr>
          <%sum +=donars[i].amount %>

        <%}%>

      <%}%>

  </tbody>
</table>
<p class="display-5 text-right font-weight-bold font-italic">
  Total : <%=sum%>
</p>
<% include ./partials/footer.ejs %>
